logging:
  level.root: WARN
  level.no: ${LOG_LEVEL:DEBUG}
server:
  error:
    include-message: always
  port: 8080
spring:
  codec:
    max-in-memory-size: 5000KB
  security.oauth2.resourceserver.jwt:
    jwk-set-uri: ${KEYCLOAK_OIDC_ISSUER:https://auth.staging.fellesdatakatalog.digdir.no/realms/fdk}/protocol/openid-connect/certs
    issuer-uri: ${KEYCLOAK_OIDC_ISSUER:https://auth.staging.fellesdatakatalog.digdir.no/realms/fdk}
  data:
    mongodb:
      authentication-database: admin
      database: dataservice-catalog
      username: ${MONGO_USERNAME}
      password: ${MONGO_PASSWORD}
      host: mongodb
      port: 27017
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: ${RABBIT_USERNAME}
    password: ${RABBIT_PASSWORD}
    template:
      routing-key: 'dataservice.publisher.HarvestTrigger'
      exchange: 'harvests'
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  metrics:
    tags:
      application: dataservice-catalog
application:
  data-service-catalog-gui-url: ${DATA_SERVICE_CATALOG_GUI_URL}
  catalog-base-uri: ${CATALOG_BASE_URI:http://localhost}
  org-catalog-uri: ${ORGANIZATION_CATALOGUE_BASE_URI:https://organization-catalogue.staging.fellesdatakatalog.digdir.no}
---

spring:
  config.activate.on-profile: develop,test,unit-integration

  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: admin
    password: admin
    template:
      routing-key: 'dataservice.publisher.HarvestTrigger'
      exchange: 'harvests'
  data:
    mongodb:
      authentication-database: admin
      database: dataservice-catalog
      username: admin
      password: admin
      host: localhost
      port: 27017
server:
  port: 9080

application:
  data-service-catalog-gui-url: http://localhost:8171
---

spring:
  config.activate.on-profile: integration-test
  security.oauth2.resourceserver.jwt.jwk-set-uri: http://localhost:5050/realms/fdk/protocol/openid-connect/certs
