apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: dataservice-catalog
  name: dataservice-catalog
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: dataservice-catalog
  strategy:
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: dataservice-catalog
    spec:
      containers:
        - name: dataservice-catalog
          env:
            - name: MONGO_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongo
                  key: MONGO_USERNAME
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongo
                  key: MONGO_PASSWORD
            - name: RABBIT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: rabbitmq
                  key: RABBITMQ_USERNAME
            - name: RABBIT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rabbitmq
                  key: RABBITMQ_PASSWORD
            - name: DATA_SERVICE_CATALOG_GUI_URL
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: DATASERVICE_CATALOG_BASE_URI
            - name: CATALOG_BASE_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: DATASERVICE_CATALOG_BASE_URI
            - name: KEYCLOAK_OIDC_ISSUER
              valueFrom:
                secretKeyRef:
                  name: keycloak
                  key: KEYCLOAK_OIDC_ISSUER
          image: dataservice-catalog
          imagePullPolicy: Always
          ports:
          - containerPort: 8080
          resources:
            requests:
              memory: 800Mi
              cpu: 5m
            limits:
              memory: 800Mi
      restartPolicy: Always
status: {}